data/metaanalysis/neurosynth/neurosynth_paper_database_raw.csv filter=lfs diff=lfs merge=lfs -text
data/metaanalysis/neurosynth/neurosynth_paper_database.csv filter=lfs diff=lfs merge=lfs -text
data/connectivity/additional_sc_metrics/additional_sc_metrics_neurosynth.mat filter=lfs diff=lfs merge=lfs -text
